/* -------------------------------GENERAL STYLING------------------------------ */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 270;
  background-color: #23242e;
  color: white;
  margin: 0px;
}

.game-cards-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* -------------------------------HEADER------------------------------ */
.header {
  position: absolute;
  padding: 20px;
  top: 0;
  border-bottom: solid 2px white;
  width: 100%;
  margin: 0px;
  text-align: center;
}
/* -------------------------------GAME List------------------------------ */
.game-list {
  padding-top: 110px;
}
.filter-button-holder {
  display: flex;
  justify-content: center;
}
.filter-button {
  color: white;
  border-radius: 15px;
  padding: 8px;
  border: 0px;
  margin-top: 15px;
  background-color: #2c2d39;
}
/* -------------------------------GAME CARD  ------------------------------ */
.game-card {
  max-width: 200px;
  background-color: #2c2d39;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5px;
  margin-right: 5px;
}
.game-image-holder {
  border-radius: 15px;
  width: 200px;
}
.game-image {
  max-width: 100%;
  border-radius: 15px;
}
.buttons-holder {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.delete-button {
  cursor: pointer;
}
.see-more-info-button {
  border-radius: 15px;
  padding: 6px;
  color: white;
  background-color: #23242e;

  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}
/* -------------------------------GAME DETAILS ------------------------------ */
.game-details-card {
  margin-top: 20px;
  background-color: #2c2d39;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 270;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.return-arrow {
  color: white;
  margin-top: 5px;
  margin-left: 5px;
}

.first-column {
}
.second-column {
  margin-top: 20px;
  margin-left: 15px;
}
.game-details-title {
  width: 90%;
  margin: auto;
  width: 100%;
  text-align: center;
  font-weight: 270;
  font-size: 56px;
}
.video-holder {
  border-radius: 15px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.game-video {
  max-width: 100%;
  border-radius: 15px;
}
.game-details-info {
  font-weight: 270;
}
